@font-face {
  font-family: "Emerald";
  src: url(./fonts/pkmnem.ttf) format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Color below from https://lospec.com/palette-list/pokemon-ruby-sapphire-exterior */
.pkmnem-face {
  font-family: "Emerald";
  text-shadow:
    1px 0px #6a5a5a,
    0px 1px 2px #6a5a5a;
}
