@font-face {
  font-family: "Emerald";
  src: url(./fonts/emerald-pro/pokemon-emerald-pro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}
@font-face {
  font-family: "Emerald-Short";
  src: url(./fonts/dp-pro/pokemon-dp-pro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}
@font-face {
  font-family: "Emerald-Narrow";
  src: url(./fonts/pkmnemn.ttf) format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* letter-spacing: ; */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}
/* Color below from https://lospec.com/palette-list/pokemon-ruby-sapphire-exterior */
.pkmnem-face {
  font-family: "Emerald";
  /* letter-spacing: 1px; Like kerning?*/
}
.pkmnem-face-short {
  font-family: "Emerald-Short";
}
.pkmnem-face-narrow {
  font-family: "Emerald-Narrow";
}
/* Weirdness with font */
.pkmn-types {
  box-sizing: border-box;
  margin-left: -1px;
  color: "#f8f8f8" /* Pulled straight from the in-game type badges */;

  text-shadow:
    1px 0px 2px rgba(135, 131, 129, 0.2),
    1px 0.5px #413141,
    1px 0.75px #413141,
    0px 0.5px #413141,
    0.5px 1px #413141,
    0px 1px #413141,
    /* 1.1px 0px #413141, */
    0.5px 0px #413141,
    0px 1px rgba(129, 119, 111, 0.6),
    1px 1px rgba(129, 119, 111, 0.6),
    1px 0px rgba(129, 119, 111, 0.6);
  /* 1.5px 1.5px 1px rgba(129, 119, 111, 0.6), */
  /* 0.5px 0px 6px rgba(129, 119, 111, 0.6); */
}
.pkmnem-face-shadow {
  text-shadow:
    0px 0.5px #413141,
    0.5px 0.5px #413141,
    0.5px 0px #413141,
    0.75px 0.75px #6a5a5a,
    0.5px 0px 2px rgba(129, 119, 111, 0.6);
}
/* Fix weird bug in mobile safari where text is too high */
@supports (-webkit-touch-callout: none) {
  /* .pkmn-types {
    padding-top: 4px;
    margin-bottom: -9px;
  } */
  .ios-padding-fix {
    padding-top: 1px;
  }
}
