@import "tailwindcss";
@import "./fonts.css";

body {
  @apply bg-zinc-700;
}

/* Hide number input spinners for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@layer components {
  .ability_badge {
    @apply w-30 select-none items-center rounded-full bg-zinc-600 px-2 text-center text-sm text-white shadow-md;
  }
}
