@import "tailwindcss";

@font-face {
  font-family: "Pixel Operator";
  src: url("/pixel_operator/PixelOperator.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixel Operator";
  src: url("/pixel_operator/PixelOperator-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-pixel: "Pixel Operator", sans-serif;
}


body {
  @apply bg-zinc-700;
}

/* Hide number input spinners for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

@layer components {
  .ability_badge {
    @apply w-30 select-none items-center rounded-md bg-slate-600 px-1 py-0.5 text-center font-pixel text-white shadow-md/50 border-1 border-gray-200;
  }
}
